
.card-main {display:flex;border:1px solid silver; padding:10px 18px 10px 18px; width:95%; background:#fff;  margin:auto;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}


.card-details { width:90%; background:#fff; font-weight:600; }
.card-details2 {  background:#fff; }
.card-details3  {display:flex;border:1px solid #DDD; padding:35px; width:95%; background:#fff;  margin:auto; margin:25px auto 25px auto;  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); font-size:18px;}

h1 {font-size:20px;}


.bid-button {border:3px solid red; padding:7px; margin:7px; width:100px; background:#fff; border-radius:20px; font-weight:700; float:right;display:; }

.bid-button:hover {border:3px solid red; padding:7px; margin:7px; width:100px; background:red; border-radius:20px; font-weight:700; float:right;display:; color:#fff;}